[Desktop Entry]
Name=ImageViewerX
Comment=
Icon=ImageViewer.Desktop.png
Exec=ImageViewer.Desktop
StartupWMClass=ImageViewer.Desktop
Terminal=false
Type=Application
Categories=Graphics;
MimeType=image/bmp;image/jpeg;image/jpg;image/png;image/webp;
GenericName=ImageViewer.Desktop
Keywords=Image
