[Desktop Entry]
Name=ImageViewerX
Comment=
Icon=ImageViewerX.png
Exec=ImageViewerX
StartupWMClass=ImageViewerX
Terminal=false
Type=Application
Categories=Graphics;
MimeType=image/bmp;image/jpeg;image/jpg;image/png;image/webp;
GenericName=ImageViewerX
Keywords=Image
